<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>

<body>
    <header>
        <a href="login.html" id="logo">
            <img src="assets/img/logo.png" alt="Logo" />
        </a>

        <button id="openMenu">&#9776;</button>

        <nav id="menu">
        </nav>
    </header>

    <main>
        <div class="extCalculadora">
            <div class="calcular">
                <h1>Confirmação</h1>
            </div>

            <div class="observacao">
                <h4>Cadastro Feito com Sucesso</h4>

            </div>

            <div class="calculadora">
                <form action="" method="post">
                    <p>
                    <p>O seu cadastro foi feito com Sucesso! Será lhe enviado um e-mail dentro de 15 minutos para
                        confirmação de conta, após confirmado você será redirecionado para a página de login! <br> OBS:
                        Verifique a sua caixa de spam caso não encontre o email na caixa principal!</p>
                    <button type="submit" class="btncalc">Reenviar</button>
                    </p>

                </form>
            </div>
    </main>

    <aside>
        <div class="flexContainer">

        </div>
    </aside>

    <footer>
        <div class="info">
            <p>
                Projeto desenvolvido pelo grupo DRP09-PJI110-SALA-002GRUPO-002 da Universidade UNIVESP.
            </p>
        </div>
    </footer>

    <script type="text/javascript" src="assets/js/script.js"></script>

</body>

</html>