<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>termos usuarios</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>

<body>
    <header>
        <a href="login.html" id="logo">
            <img src="assets/img/logo.png" alt="Logo" />
        </a>

        <button id="openMenu">&#9776;</button>

        <nav id="menu">
        </nav>
    </header>

    <main>
        <div class="extCalculadora">
            <div class="calcular">
                <h1>Política de Privacidade de Usuário</h1>
            </div>

            <div class="observacao">
                <h4>Última atualização: 05/11/2024</h4>

            </div>

            <div class="calculadora">
                <form action="" method="post">

                    <p>
                    <p>

                        A sua privacidade é importante para nós. Esta Política de Privacidade descreve como coletamos,
                        usamos, armazenamos, protegemos e compartilhamos suas informações pessoais quando você utiliza o
                        nosso site Tempo Fácil (doravante "Site").

                        Ao acessar e usar o Site, você concorda com as práticas descritas nesta Política de Privacidade.

                        1. Informações Coletadas

                        Coletamos informações de diferentes formas quando você utiliza nossos serviços, incluindo:

                        Informações Pessoais: Durante o registro ou uso do Site, podemos coletar informações como nome
                        completo, endereço de e-mail, número de telefone, dados de login (nome de usuário e senha),
                        endereço e outros dados necessários para o seu cadastro e utilização dos nossos serviços.
                        Informações de Uso: Coletamos informações sobre sua interação com o Site, como dados sobre o seu
                        dispositivo, tipo de navegador, endereço IP, páginas acessadas, tempo de navegação e outras
                        informações técnicas relacionadas ao uso do Site.
                        Cookies: Usamos cookies e tecnologias semelhantes para personalizar sua experiência e coletar
                        dados sobre o uso do Site. Os cookies são pequenos arquivos armazenados em seu dispositivo que
                        nos permitem lembrar suas preferências e melhorar a navegação.

                        2. Como Usamos as Informações

                        As informações coletadas são usadas para os seguintes fins:

                        Prestação de Serviços: Para fornecer, operar e manter os serviços de gestão de prazos, incluindo
                        o envio de alertas e notificações sobre prazos.
                        Personalização da Experiência: Para personalizar a sua experiência no Site, como sugestões de
                        recursos ou melhorias.
                        Comunicação: Para enviar comunicações, como atualizações de sistema, informações sobre mudanças
                        em nossos Termos e Condições ou Política de Privacidade, e outras mensagens relacionadas ao
                        serviço.
                        Melhoria do Serviço: Para analisar o uso do Site, identificar problemas e melhorar o desempenho
                        e funcionalidades do sistema.
                        Cumprimento de Obrigações Legais: Para cumprir com obrigações legais e regulatórias, incluindo a
                        manutenção de registros de uso do serviço.

                        3. Compartilhamento de Informações

                        Nós não vendemos, alugamos ou compartilhamos suas informações pessoais com terceiros para fins
                        comerciais sem o seu consentimento, exceto nas seguintes situações:

                        Prestadores de Serviços: Podemos compartilhar suas informações com prestadores de serviços que
                        nos ajudam a operar o Site e fornecer os serviços oferecidos, como serviços de hospedagem,
                        análise de dados, envio de e-mails e outros.
                        Exigência Legal: Podemos divulgar suas informações pessoais se for necessário para cumprir com
                        uma obrigação legal, processo judicial ou solicitação de autoridades competentes.
                        Transferência de Negócio: Caso o Site seja vendido, fundido ou transferido, suas informações
                        poderão ser transferidas como parte do ativo comercial.

                        4. Segurança das Informações

                        Adotamos medidas de segurança apropriadas para proteger suas informações pessoais contra acesso
                        não autorizado, alteração, divulgação ou destruição. No entanto, nenhuma transmissão de dados
                        pela internet é completamente segura, e não podemos garantir a segurança absoluta das
                        informações que você nos envia.

                        5. Seus Direitos

                        De acordo com a legislação de proteção de dados, você tem os seguintes direitos em relação às
                        suas informações pessoais:

                        Acesso: Você pode solicitar uma cópia das informações pessoais que temos sobre você.
                        Correção: Você pode corrigir ou atualizar suas informações pessoais se estiverem incorretas ou
                        desatualizadas.
                        Exclusão: Você pode solicitar a exclusão das suas informações pessoais, sujeitando-se às
                        limitações legais.
                        Portabilidade: Você pode solicitar a portabilidade de seus dados para outro fornecedor de
                        serviços, quando aplicável.
                        Revogação de Consentimento: Você pode revogar seu consentimento para o processamento de suas
                        informações pessoais a qualquer momento, exceto em situações onde a lei exige que continuemos a
                        processá-las.

                        6. Retenção de Dados

                        Reteremos suas informações pessoais pelo tempo necessário para cumprir os fins para os quais
                        foram coletadas, incluindo o cumprimento de obrigações legais, resolução de disputas e execução
                        de contratos.

                        7. Alterações na Política de Privacidade

                        Esta Política de Privacidade pode ser atualizada de tempos em tempos para refletir mudanças em
                        nossas práticas de coleta de dados ou em conformidade com a legislação aplicável. Sempre que
                        houver uma alteração significativa, você será notificado por meio de uma mensagem no Site ou por
                        e-mail.

                        8. Contato

                        Se você tiver dúvidas sobre esta Política de Privacidade ou sobre o uso das suas informações
                        pessoais, entre em contato conosco:

                        E-mail: tempo.facil@outlook.com
                        Telefone: 0800 521 4453
                        Endereço: São Paulo</p>
                    <button type="submit" class="btncalc">Voltar</button>
                    </p>

                </form>
            </div>
    </main>

    <aside>
        <div class="flexContainer">

        </div>
    </aside>

    <footer>
        <div class="info">
            <p>
                Projeto desenvolvido pelo grupo DRP09-PJI110-SALA-002GRUPO-002 da Universidade UNIVESP.
            </p>
        </div>
    </footer>

    <script type="text/javascript" src="assets/js/script.js"></script>

</body>

</html>