<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>termos usuarios</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>

<body>
    <header>
        <a href="login.html" id="logo">
            <img src="assets/img/logo.png" alt="Logo" />
        </a>

        <button id="openMenu">&#9776;</button>

        <nav id="menu">
        </nav>
    </header>

    <main>
        <div class="extCalculadora">
            <div class="calcular">
                <h1>Termos e Condições</h1>
            </div>

            <div class="observacao">
                <h4>Última atualização: 05/11/2024</h4>

            </div>

            <div class="calculadora">
                <form action="" method="post">

                    <p>
                    <p>

                        1. Aceitação dos Termos Ao acessar e utilizar o nosso site Tempo Fácil (doravante "Site"), você
                        concorda em cumprir e estar vinculado aos seguintes Termos e Condições. Se você não concordar
                        com qualquer parte destes termos, não utilize o Site.

                        2. Descrição do Serviço Nosso Site oferece ferramentas para gestão de prazos processuais e
                        jurídicos, com funcionalidades que permitem a contagem e o acompanhamento de prazos relacionados
                        a processos cíveis. O serviço está disponível para advogados e profissionais da área jurídica,
                        visando facilitar a gestão de prazos e garantir o cumprimento de obrigações legais.

                        3. Registro de Conta Para utilizar o Site, você deve criar uma conta de usuário. Você se
                        compromete a fornecer informações precisas, completas e atualizadas no momento do registro. A
                        responsabilidade pela manutenção da confidencialidade de suas credenciais (nome de usuário e
                        senha) é exclusivamente sua. Você concorda em notificar imediatamente o Site sobre qualquer uso
                        não autorizado de sua conta.

                        4. Uso do Serviço O uso do Site é exclusivo para fins legais e profissionais. Você concorda em
                        utilizar as funcionalidades da plataforma de acordo com a legislação vigente, especialmente no
                        que se refere à privacidade e à proteção de dados pessoais. Qualquer uso indevido do Site, como
                        a violação de direitos autorais ou a prática de atividades fraudulentas, poderá resultar no
                        bloqueio ou exclusão de sua conta.

                        5. Responsabilidade Embora o Site forneça ferramentas para gerenciamento de prazos, é
                        responsabilidade do usuário garantir que as informações inseridas sejam precisas e estejam
                        atualizadas. O Site não se responsabiliza por eventuais perdas ou danos decorrentes de prazos
                        não cumpridos ou de erros na inserção de dados.

                        6. Propriedade Intelectual Todos os direitos de propriedade intelectual do Site, incluindo, mas
                        não se limitando a, textos, imagens, gráficos, logos, ícones, software, entre outros, são de
                        propriedade exclusiva do Site ou de seus licenciadores. O uso não autorizado de qualquer
                        material do Site é estritamente proibido.

                        7. Privacidade e Proteção de Dados Ao utilizar o Site, você concorda com a nossa Política de
                        Privacidade, que descreve como coletamos, utilizamos e protegemos suas informações pessoais.
                        Todos os dados fornecidos durante o registro e uso do Site serão tratados de acordo com a
                        legislação vigente sobre proteção de dados pessoais, incluindo a Lei Geral de Proteção de Dados
                        (LGPD) no Brasil.

                        8. Modificações dos Termos e Condições Reservamo-nos o direito de modificar, a qualquer momento,
                        os Termos e Condições de uso. Quaisquer alterações serão publicadas no Site, e recomendamos que
                        você revise periodicamente os Termos e Condições para se manter informado sobre quaisquer
                        atualizações.

                        9. Limitação de Responsabilidade Em nenhuma circunstância, o Site será responsável por quaisquer
                        danos diretos, indiretos, incidentais, especiais, consequenciais ou punitivos resultantes do uso
                        ou da incapacidade de usar o Site, mesmo que o Site tenha sido avisado da possibilidade de tais
                        danos. A responsabilidade total do Site, em qualquer caso, será limitada ao valor pago pelo
                        usuário pelo uso dos serviços, se houver.

                        10. Rescisão Podemos, a qualquer momento, suspender ou encerrar sua conta caso você viole
                        qualquer um dos Termos e Condições. Em caso de rescisão, você ainda será responsável por todas
                        as obrigações assumidas até o momento do término.

                        11. Lei Aplicável e Jurisdição Estes Termos e Condições são regidos pelas leis do Brasil.
                        Quaisquer disputas ou reclamações relacionadas a estes Termos e Condições serão resolvidas no
                        foro da cidade de São Paulo, SP, Brasil, salvo disposições em contrário.

                        12. Contato Se você tiver dúvidas sobre os Termos e Condições, entre em contato conosco por meio
                        do e-mail tempo.facil@outlook.com ou pelo telefone 0800 521 4453.</p>
                    <button type="submit" class="btncalc">Voltar</button>
                    </p>

                </form>
            </div>
    </main>

    <aside>
        <div class="flexContainer">

        </div>
    </aside>

    <footer>
        <div class="info">
            <p>
                Projeto desenvolvido pelo grupo DRP09-PJI110-SALA-002GRUPO-002 da Universidade UNIVESP.
            </p>
        </div>
    </footer>

    <script type="text/javascript" src="assets/js/script.js"></script>

</body>

</html>